* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#warp {
    width: 100%;
}

.container {
    
}

/* header 부분*/


.header-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #24292f;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#input-url {
    border-radius: 5px;
    padding: 0px 12px;
    
    background-color: #353a3f;
}

.square-button {
    position: relative;
    margin: 0px 4px 0px 0px;
    right: 25px;
    top: 4px; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 14px;
}

.span-all {
    display: flex;
    justify-content: space-around;
}

.ex {
    display: flex;
    align-items: center;
    color: white;
}

.button-all {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main 부분 */

.main-container {
    width: 800px;
    margin: 0 auto;
}

.article-container {
    display: flex;
    margin: 50px 0px 0px;   
}

.hp-link-line {
    margin-bottom: 16px;
}

.data-view {
    font-size: 24px;
    color: #24292f;
}

#hp-link {
    color: #0969da;
}

.owner-header {
    display: flex;
    font-size: 14px;
    color: #24292f;
}

.owner-label {
    margin: 0px 0px 6px;
}

.input-label {
    margin: 0px 0px 6px;
}

#owner-box {
    padding: 5px 16px;

    color: #24292f;
    background-color: #f6f8fa;
}

#name-box {
    margin: 0px 5px 0px 0px;
    padding: 5px 12px;

    background-color: #f6f8fa;
}

.name-suggestion {
    margin: 8px 0px;

    font-size: 14px;
    color: #24292f;

}

#discription-input {
    margin: 0px 5px 0px 0px;
    padding: 5px 12px;

    background-color: #f6f8fa;
}

.checkbox-all {
    margin: 15px 0;
    vertical-align: middle;
}

.checkbox-public {
    font-size: 14px;
    color: #24292f;
}

.checkbox-private {
    font-size: 14px;
    color: #24292f;
}

.p-1 {
    font-size: 12px;
    color: #727a82;
}

.repository-option {
    margin-top: 10px;
}

.init {
    font-size: 14px;
    color: #24292f;
}

.skip {
    font-size: 14px;
    color: #727a82;
}

.checkbox-add {
    margin-top: 10px;
}

#choose-box {
    border-radius: 5px;
}

.license {
    margin-top: 10px;
}

.p-2 {
    color: #5a6167;
}

.mark {
    margin-top: 10px;
}

.create-btn button{
    
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 16px;
    background-color: #94d3a2;

    font-size: 14px;
    color: #ffffffcc;

}


/* 하단부분 */
#footer {
    width: 100%;
    border-top: 1px solid #ccc;
}

#footer .info {
    margin: 0 auto;
    width: 1200px;
    height: 155px;
}

#footer .info li {
    float: left;
}

#footer .info li.center {
    padding-top: 30px;
    box-sizing: border-box;
}


#footer .f_bottom {
    border-top: 1px solid #ccc;
    width: 100%;
    height: 160px;
}

#footer .f_bottom .info_mn {
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

#footer .f_bottom .info_mn li {

}

#footer .f_bottom .info_mn a {
    font-size: 13px;
}